[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Gmail Web App
Exec=chromium --app=https://mail.google.com --class=Gmail
Icon=gmail
Terminal=false
Type=Application
Categories=Network;Email;
